.search {
    display: flex;
    align-items: center;
    position: relative;
}

.search input {
    padding: 5px 0;
    margin-right: 10px;
    border-radius: 4px;
    border: 2px solid transparent;;
    width: 14em;
}

.search svg {
    position: absolute;
    right: 27%;
    cursor: pointer;
}

.search input:focus {
    outline: #FC6A47;
    border: 2px solid #FC6A47;
    box-shadow: 0 0 5px #719ECE;
}

