header {
    max-width: 100vw;
    background-color: #153F65;
    display: flex;
    padding: 10px 15px;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    top: 0;
    text-decoration: none
}

header a {
    text-decoration: none
}

header span {
    color: white;
    font-weight: 700;

}

h1 {
    font-weight: 200;
    color: #FC6A47;


}


img {
    width: 35px;
    height: 35px;
}